page-home {

    h3 {
        text-align: center;
    }

    img {
        width: 240px;
        height: 200px;
        align-self: center;
        margin: 10px 10px 50px 42px;
        display: block;
        padding: 10px;
    }
}
